.header-content {
    background-color: rgb(223, 223, 223);
    height: 90px;
    display: flex;
    align-items: center; 
}

.header-content .brand-img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: 0 10px;
}

.header-content .brand-title {
    font-size: 35px;
    color: black;
    text-decoration: none;
}

.section-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 80%;
    background-color: rgb(226, 231, 231);
    border-radius: 10px;
}